CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

/build/
/out/

root/out/*
root/out/build/.vs/*

**/.vs/
**/*.suo
**/*.VC.db
**/*.VC.opendb
**/*.ipch
**/*.user
root/out/build/.vs/OpenGLApp/v17/.suo
root/out/build/.vs/OpenGLApp/v17/Browse.VC.db
root/out/build/.vs/OpenGLApp/v17/DocumentLayout.backup.json
root/out/build/.vs/OpenGLApp/v17/DocumentLayout.json
